
* {
  scroll-behavior: smooth;
}

:root{
  --primary-color:#355592;
  --secondary-color:#F39C12;
  --font-color-1:#FEFEFE;
  --font-color-2:#4E4E4E;
  --background-color-white:#FFFFFF;
  --background-color-gray:#F6F6F6;
  --background-color-blue:#F1F8FF;
  --background-color-black:#000000;
  --border-color:#F39C12;
  --border-radius:3px;
}


body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--font-color-1);
  background-color: var(--font-color-1);
}
section {
  padding: 20px;
}

.classes-title {
  margin-bottom: 30px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.classes-title h2 {
  color: var(--primary-color);
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 10px;
}

.classes-title p {
  color: var(--font-color-2);
  font-size: 16px;
  font-weight: 600;
  margin: 0 auto;
  max-width: 600px;
}


footer {
  padding-top: 20px;
  background-color: var(--primary-color);
  color: var(--font-color-1);
}

.blue-button {
  background-color: var(--primary-color);
  color: var(--font-color-1);
  border-color: var(--primary-color);
  margin: 5px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: var(--border-radius);
  font-weight: 600;
}

.orange-button {
  background-color: var(--secondary-color);
  color: var(--font-color-1);
  border-color: var(--secondary-color);
  margin: 5px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: var(--border-radius);
  font-weight: 600;
}

.link-button {
  background:transparent;
  color: var(--font-color-1);
  border-color: var(--font-color-1);
  margin: 5px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: var(--border-radius);
  font-weight: 600;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.divider {
  width: 6em;
  height: 0.5em;
  background-color:var(--secondary-color);
  margin-bottom: 20px;
  justify-self: center;
  border-radius: 50px;
}


/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
